<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (topic(); as topicRef) {
      <div>
        <h2 data-cy="topicDetailsHeading"><span>Topic</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ topicRef.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ topicRef.name }}</span>
          </dd>
          <dt><span>Movies</span></dt>
          <dd>
            @for (movies of topicRef.movies; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/movie', movies.id, 'view']">{{ movies?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/topic', topicRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
